@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
  margin: 0;
}
body{
  font-family: "Poppins", sans-serif;
  background-color: rgb(255, 255, 255);
}


nav {
  display:flex;
  justify-content: space-between;

  height: 72px;
  align-items: center;


}
.container{
  margin: 0 auto;
  max-width: 1280px;
}
nav ul {
  display:flex;
  list-style: none;
   gap:24px;
}

img{
  margin:0px;
  height:100px;
  width: 150px;

}
button{
  all:unset;
  padding:10px;
  background:red;
  height: 32px;
  color: white;
  font-weight: 500;
}

.hero{
  margin-top: 50px;
  margin-left: 200px;
  display: flex;
  align-items: center;
  gap: 100px;
  height: 100vh;
}

.pic{
  height: 400px;
  width: 400px;
}


.hero-btn {
  display: flex; /* Enable flexbox */
  gap: 10px; /* Add space between buttons */
}

.hero-btn button {
  padding: 10px 20px; /* Optional: Add padding to buttons for better appearance */
}
